<div class="booyah-box col-10 offset-1">
  <h1 class="text-center">Browse Available Courses</h1>
  <hr />

  <div class="row">
    <% @courses.each do |course| %>
      <div class="col-12 col-sm-5 offset-1", style="margin-left:auto; margin-right:auto;">
        <div class="soft-box-card">
          <%= link_to course_path(course) do %>
            <div class="col-12 text-center">
              <h2>
                "<%= course.title %>"
              </h2>		
            </div>	

            <div class="row container-fluid">
              <% if course.image.present? %>
                <%= image_tag course.image.url, class: 'img-fluid' %>
              <% else %>
                <%= image_tag 'placeholder.jpg', class: 'img-fluid' %>
              <% end %>
            </div>

              <div class="col-10 offset-1 text-center">
                <br />
                <h5><%= course.description %></h5>
                <br />
                <br />
                <br />
              </div>

        </div>
      <% end %>
      <br />
  </div>
	  <% end %>
</div>